<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/uikit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.js') }}"></script>
</body>

</html>